name: Daily Auto Download clashgithub

on:
  workflow_dispatch:
  #push:
  #  branches: [ main ]
  schedule:
  #  utc的0:01等于北京时间8:01
    - cron: '0 1 * * *'

jobs:
  download-clashgithub:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@main

    - name: download clashgithub.yml
      run: |
        echo "current time=$(date +'%Y%m%d %H:%M:%S')"
        
        wget --tries=2 --wait=10 --timeout=15 "https://node.freeclashnode.com/uploads/$(date +'%Y')/$(date +'%m')/1-$(date -d "yesterday" +'%Y%m%d').yaml" -O clash-clashnode.github.io-1.yml || true
        wget --tries=2 --wait=10 --timeout=15 "https://node.freeclashnode.com/uploads/$(date +'%Y')/$(date +'%m')/2-$(date -d "yesterday" +'%Y%m%d').yaml" -O clash-clashnode.github.io-2.yml || true
        sed -i 's/6元高速机场:cczzuu.top/高性价比机场:https:\/\/kfyun.uk/g' clash-clashnode.github.io-2.yml
        sed -i 's/高性价比机场:cczzuu.top/高性价比机场:https:\/\/kfyun.uk/g' clash-clashnode.github.io-2.yml
        sed -i 's/<pre style="word-wrap: break-word; white-space: pre-wrap;">//g' clash-clashnode.github.io-2.yml
        sed -i 's/<\/pre>//g' clash-clashnode.github.io-2.yml
        
        wget --tries=2 --wait=10 --timeout=15 "https://node.freeclashnode.com/uploads/$(date +'%Y')/$(date +'%m')/3-$(date -d "yesterday" +'%Y%m%d').yaml" -O clash-clashnode.github.io-3.yml || true
        wget --tries=2 --wait=10 --timeout=15 "https://node.freeclashnode.com/uploads/$(date +'%Y')/$(date +'%m')/4-$(date -d "yesterday" +'%Y%m%d').yaml"  -O clash-clashnode.github.io-4.yml || true
        sed -i 's/<pre style="word-wrap: break-word; white-space: pre-wrap;">//g' clash-clashnode.github.io-4.yml
        sed -i 's/<\/pre>//g' clash-clashnode.github.io-4.yml
        
        wget --tries=2 --wait=10 --timeout=15 "https://raw.githubusercontent.com/free-nodes/clashfree/refs/heads/main/clash$(date -d "yesterday" +'%Y%m%d').yml"  -O clash-aiboboxx.clashfree.yml || true
        sed -i 's/<pre style="word-wrap: break-word; white-space: pre-wrap;">//g' clash-aiboboxx.clashfree.yml
        sed -i 's/<\/pre>//g' clash-aiboboxx.clashfree.yml

        wget --tries=2 --wait=10 --timeout=15 "https://stairnode.cczzuu.top/node/$(date -d "yesterday" +'%Y%m%d')-clash.yaml" -O clash-www.stairnode.com.yml || true
        sed -i 's/6元高速机场:cczzuu.top/高性价比机场:https:\/\/kfyun.uk/g' clash-www.stairnode.com.yml
        sed -i 's/<pre style="word-wrap: break-word; white-space: pre-wrap;">//g' clash-www.stairnode.com.yml
        sed -i 's/<\/pre>//g' clash-www.stairnode.com.yml

        #https://nodefree.githubrowcontent.com/2024/07/20240729.yaml
        #NodeFree: https://nodefree.org/dy/2024/07/20240725.yaml ★
        #Mfuu: https://raw.githubusercontent.com/mfuu/v2ray/master/clash.yaml
        #Anaer: https://raw.githubusercontent.com/anaer/Sub/main/clash.yaml ★
        #Ermaozi: https://raw.githubusercontent.com/ermaozi/get_subscribe/main/subscribe/clash.yml ★
        #Learnhard-cn: https://cdn.jsdelivr.net/gh/vxiaov/free_proxies@main/clash/clash.provider.yaml
        #OpenRunner: https://freenode.openrunner.net/uploads/20240617-clash.yaml ★
        #Xrayfree: https://tt.vg/freeclash

        #https://github.com/itxve/fetch-clash-node/blob/main/vpnoe.js
        #https://api.subcsub.com/sub?target=clash&url=https://raw.githubusercontent.com/itxve/fetch-clash-node/main/node/ClashNode.yaml|https://raw.githubusercontent.com/itxve/fetch-clash-node/main/node/NodeFree.yaml|https://raw.githubusercontent.com/itxve/fetch-clash-node/main/node/NodeShare.yaml|https://raw.githubusercontent.com/itxve/fetch-clash-node/main/node/vpnoe.yaml
        
    #- name: Add clashgithub.yml
    #  run: git add clashgithub.yml
    - name: Commit clashgithub.yml
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git add .
        git commit -m "Add clashgithub.yml"
        git push 
